@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    text-align: center;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
}

h1 {
    width: max-content;
    margin: 40px auto 00px;
    padding: 20px 30px 24px;
    font-size: 42px;
    color: #111;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 8px;
}

h1 img{
    width: 48px;
    height: 48px;
}   

img {
    width: 750px;
    height: 750px;
}

a{
    display: block;
    width: fit-content;
    padding: 12px;
    margin: 6px auto 0;
    border: 1px dashed gray;
    text-decoration: underline;
    text-underline-offset: 4px;
}